.main-chat
  .main-chat__header
    .main-chat__header__leftbox
      .main-chat__header__leftbox__name
        test
      .main-chat__header__leftbox__member
        Member：masa
    .main-chat__header__edit
      = link_to "#", class: "main-chat__header__edit__btn" do
        Edit
  .main-chat__message-list
    = render @messages
  .main-chat__message-form
    = form_for [@group, @message] do |f|
      .main-chat__message-form__message-box
        .main-chat__message-form__message-box__new-message
          = f.text_field :content, class: "text", placeholder: "type a message"
          .main-chat__message-form__message-box__new-message__input-image
            = f.label :image, class: "image" do
              = icon('fas', 'image', class: "icon")
              = f.file_field :image, class: "image__file"
        = f.submit "Send", class: "main-chat__message-form__message-box__submit-btn"