.side-bar
  .side-bar__header
    .side-bar__header__top-items
      .side-bar__header__top-items__name
        = current_user.name
      .side-bar__header__top-items__icons
        = link_to new_group_path, class: "icon-edit" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "icon-cog" do
          = icon('fas', 'cog')
  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group-list__side-items
        = link_to edit_group_path(group) do
          .side-bar__group-list__side-items__group
            = group.name
          .side-bar__group-list__side-items__message
            まだメッセージがありません